---
layout: default
---

<div id="pageId" title="2"></div>
<div class="detailarea">
    <div class="inner">
        <h3>書院</h3>
        <div class="info">
        </div>
        <ul class="notelist clear">
            {% for post in site.posts %}
            {% if post.category contains 'college' %}
            <li class="item">
                {{ post.date | date: "%b %-d, %Y" }}, <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <p class="rss-subscribe tx_c">
            <span class="btn btn2" style="display:inline-block">
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS訂閱</a>
            </span>
        </p>

    </div>
</div>