<script id="dsq-count-scr" src="//fflycollege.disqus.com/count.js" async></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/script/highlight/styles/default.css">
<script src="{{ site.baseurl }}/assets/script/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
$(function(){
    $('.navarea .lk').removeClass('select');
    var navcount = $('#pageId').attr('title');
    if(navcount != undefined){
        $('.navarea #nav'+navcount).addClass('select');
    }
});
</script>