<script id="dsq-count-scr" src="//fflycollege.disqus.com/count.js" async></script>
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.1/styles/default.min.css">
<script src="http://yandex.st/highlightjs/7.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
$(function(){
    $('.navarea .lk').removeClass('select');
    var navcount = $('#pageId').attr('title');
    if(navcount != undefined){
        $('.navarea #nav'+navcount).addClass('select');
    }
});
</script>