<div class="tophold"></div>
<div class="toparea">
    <h1><big>F</big>uture <big>F</big>riendly <big>C</big>ollege</h1>
    <h2><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
</div>

<div class="navarea">
    <div id="carousel-nav" class="inner clear owl-carousel">
        <a class="lk" id="nav0" href="{{ site.baseurl }}/index.html">首頁</a>
        <a class="lk" id="nav1" href="{{ site.baseurl }}/activity.html">活動</a>
        <a class="lk" id="nav2" href="{{ site.baseurl }}/college.html">書院</a>
        <a class="lk" id="nav3" href="{{ site.baseurl }}/school.html">學院</a>
        <a class="lk" id="nav4" href="{{ site.baseurl }}/contact.html">聯絡</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="lk" id="nav5" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="lk" href="javascript:;" style="padding:0 2em"></a>
    </div>
</div>