/**
 * Reset some basic elements
 */
body,img{ margin:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,header,footer,nav,article{margin:0;padding:0}
html,body{ height:100%}
header,footer,nav,article{ display: block;}
table{border-collapse:collapse;border-spacing:0}
img,video{border:0; max-width:100%; vertical-align:top}
iframe{ vertical-align:top;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body{ font:16px/1.5 Helvetica,Arial,Mingliu,sans-serif; -webkit-user-select:none;}
input,textarea,select,button{ outline: none; resize:none; font:16px/1.5 Helvetica,Arial,sans-serif;}
select{font-size:12px}
button{line-height:1.231;white-space:nowrap;vertical-align:middle;cursor:pointer}
strong{font-weight:800}
a{ text-decoration: none; outline: none; cursor: pointer;}
a:link,label,body{ -webkit-tap-highlight-color:transparent; -webkit-focus-ring-color:transparent;}
a:hover{ text-decoration:none;}
a:active{ background:none;}

.c_t3{ color:#b58e5b}
.c_t9{ color:#999}
.tx_c{ text-align:center;}

/* DISPLAY */
.dis_b{ display:block; *zoom:1;}
.dis_in{ display:inline}
.dis_inb{ display:inline-block; *display:inline; *zoom:1}
.vis_on{ visibility: visible;}
.vis_off{ visibility: hidden;}

/* margin padding */
.mt5{ margin-top:5px}
.mr5{ margin-right:5px}
.mb5{ margin-bottom:5px}
.ml5{ margin-left:5px}
.mt10{ margin-top:10px}
.mr10{ margin-right:10px}
.mb10{ margin-bottom:10px}
.ml10{ margin-left:10px}
.mt15{ margin-top:15px}
.mr15{ margin-right:15px}
.mb15{ margin-bottom:15px}
.ml15{ margin-left:15px}
.mt20{ margin-top:20px}
.mr20{ margin-right:20px}
.mb20{ margin-bottom:20px}
.ml20{ margin-left:20px}

.pt5{ padding-top:5px}
.pr5{ padding-right:5px}
.pb5{ padding-bottom:5px}
.pl5{ padding-left:5px}
.pt10{ padding-top:10px}
.pr10{ padding-right:10px}
.pb10{ padding-bottom:10px}
.pl10{ padding-left:10px}
.pt15{ padding-top:15px}
.pr15{ padding-right:15px}
.pb15{ padding-bottom:15px}
.pl15{ padding-left:15px}
.pt20{ padding-top:20px}
.pr20{ padding-right:20px}
.pb20{ padding-bottom:20px}
.pl20{ padding-left:20px}

/* align */
.vt_t{ vertical-align:top}
.vt_m{ vertical-align:middle}
.vt_b{ vertical-align:bottom}
.vt_bl{ vertical-align:baseline;}

/* font
----------------------------------------------------------------*/

/* family */
.tx_song{font-family:SimSun,Helvetica}
.tx_yh{font-family:Microsoft YaHei,Mingliu,Helvetica,sans-serif}
.tx_ar{ font-family:Arial}
.tx_ss{ font-family:sans-serif}
.tx_code{ font-family:Courier New}

/* size */
.tx_12{ font-size:.75rem;}
.tx_14{ font-size:.875rem;}
.tx_16{ font-size:1rem;}
.tx_18{ font-size:1.125rem;}
.tx_20{ font-size:1.25rem;}
.tx_22{ font-size:1.375rem;}
.tx_24{ font-size:1.5rem;}
.tx_26{ font-size:1.625rem;}
.tx_28{ font-size:1.75rem;}
.tx_30{ font-size:1.875rem;}

/* weight */
.tx_b{ font-weight: 800}
.tx_n{ font-weight:normal}

/* decoration */
.tx_udl{ text-decoration:underline}
.tx_del{ text-decoration:line-through}

/* align */
.tx_l{ text-align:left}
.tx_c{ text-align:center}
.tx_r{ text-align:right}

/* break */
.tx_br{ word-wrap:break-word; word-break:break-all}
.tx_nbr{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap}

@font-face {
    font-family: 'baskerville';
    src: url('../assets/fonts/baskerville-regular-webfont.eot');
    src: url('../assets/fonts/baskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/baskerville-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/baskerville-regular-webfont.woff') format('woff'),
         url('../assets/fonts/baskerville-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/baskerville-regular-webfont.svg#baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@media screen and (min-width:$content-width){
    body{ -webkit-user-select:auto;}
}




/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: top;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #e1e1e1;
}

code {
    padding: 1px 5px;
}

pre {
    // padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}




/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.clear:after{ content:'.'; clear:both; display:block; visibility:hidden; font-size:0; line-height:0}
.clear{ zoom:1;}



/**
 * Icons
 */
@font-face {
    font-family: 'icomoon';
    src:url('../assets/fonts/icomoon.eot?otryov');
    src:url('../assets/fonts/icomoon.eot?otryov#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?otryov') format('truetype'),
        url('../assets/fonts/icomoon.woff?otryov') format('woff'),
        url('../assets/fonts/icomoon.svg?otryov#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
    content: "\e600";
}
.icon-history:before {
    content: "\e60f";
}
.icon-clock:before {
    content: "\e60b";
}
.icon-lock:before {
    content: "\e606";
}
.icon-unlocked:before {
    content: "\e607";
}
.icon-equalizer:before {
    content: "\e60c";
}
.icon-rocket:before {
    content: "\e610";
}
.icon-bin:before {
    content: "\e601";
}
.icon-warning:before {
    content: "\e608";
}
.icon-question:before {
    content: "\e60d";
}
.icon-plus:before {
    content: "\e602";
}
.icon-checkmark:before {
    content: "\e60a";
}
.icon-play3:before {
    content: "\e603";
}
.icon-pause2:before {
    content: "\e605";
}
.icon-stop2:before {
    content: "\e604";
}
.icon-infinite:before {
    content: "\e609";
}
.icon-arrow-right2:before {
    content: "\e900";
}
.icon-arrow-left2:before {
    content: "\e901";
}
.icon-pilcrow:before {
    content: "\e60e";
}